
.backgroundAnimation 
    position: fixed
    z-index: 1
    top: 0 
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center 
    overflow: hidden
    div     
        display: block
        height: 100%
        width: 100%
        padding: 0
        margin: 0
        display: flex 
        flex-wrap: wrap
        max-width:  calc(var(--partSize) * 2)
        max-height: calc(var(--partSize) * 2)
        @media(max-width: 768px)
            transform: scale(2)
    span 
        display: inline-block
        background: var(--partColor)
        min-width: var(--partSize) 
        min-height: var(--partSize) 
        padding: 0
        margin: 0 
        &:nth-child(1)
            border-top-left-radius: 1000px
        &:nth-child(2)
            border-top-right-radius: 1000px
        &:nth-child(3)
            border-bottom-left-radius: 1000px
        &:nth-child(4)
            border-bottom-right-radius: 1000px
        &.activePart
            transform: rotate(90deg)

.childrenContainer 
    position: relative
    z-index: 2
