
:root 
    --background: #222
    --textColor: whitesmoke
*
    padding: 0
    margin: 0
    box-sizing: border-box  

body 
    background: var(--background)
    color: var(--textColor)

a 
    color: var(--textColor)
    text-decoration: none

::-webkit-scrollbar 
  width: .25em


/* Track */
::-webkit-scrollbar-track 

 
/* Handle */
::-webkit-scrollbar-thumb 
  background: var(--textColor)
  height: .25em
  width: .25em
